body, 
html {
    font-family: 'Roboto', sans-serif;
}

#header {
    width: 100%;
    background-color: var(--primary);
    transition: background ease-out 0.2s;
}

#header .logo{
    width: 15%;
    height: 15%;
}

#header.active {
    position: fixed;
    background: #fff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

#header .navbar-toggler{
    color: white;
    /* background-color: white; */
    border-color: white;
    border-width: 0.2rem;
    color-adjust: white;
}

#header .navbar-collapse {
    width: auto;
}

#header .nav-link {
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 0;
    padding-right: 0;
    color: white;
    border-bottom: solid 4px transparent;
}

#header .nav-link:hover {
    border-bottom:  solid 4px var(--secondary);
    color: var(--secondary);
}

#slider  {

    background-color: rgba(136, 133, 133, 0.39);
    background: linear-gradient(to right, transparent 30%, rgba(136, 133, 133, 0.39));
    background-size: contain;
    /* border-radius: 10px; */
}

#about  {

    background-color: var(--secondary);
    /* background: linear-gradient(to left, transparent 1%, var(--secondary)); */
    padding-top: 25px;
    background-size:contain;
    /* border-radius: 10px; */
    
}

.me {
    border-radius: 20px;
}

#slider h1 {
    text-transform: uppercase;
    font-weight: 900;
    
}

#slider h6 {
    /* text-transform: uppercase; */
    font-size: 18px;
    
}

/* Degradê  */
.photo {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
    height: 300px;
	/* -webkit-mask-image: linear-gradient(to left, transparent 0.2%, black 100%); */
}