/* min width of large */
@media (min-width: 992px) {
    #header .nav-link {
        margin-left: 15px;
        margin-right: 15px;
    } 

    #slider {
        margin-left: 100px;
        margin-right: 100px;
    }

    #about {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (min-width: 1200px) {
    #slider {
        margin-left: 150px;
        margin-right: 150px;
    }

    #about {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media (max-width: 767.98px) {
    #header .navbar-brand img {
        max-width: 150px;
    }
}

/* max witdh medium */
@media (max-width: 991.98px) {
    #header .navbar-brand img {
        max-width: 350px;
    }
    #header .navbar-collapse {
        width: 100%;
    }

    #slider {
        margin-left: 25px;
        margin-right: 25px;
    }

    #about {
        margin-left: 25px;
        margin-right: 25px;
    }
}